body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}

.instagram {
    background-color: white;
    width: 500px;
    max-width: 100%;
    margin-top: 100px;
}
.cabecera {
    height: 50px;
    margin:0;
    padding: 5px;
}
.cabecera-izq1  {
    float: left;
    height: 25px;
    padding-left: 10px;
    margin-top: 20px;
}
.cabecera-izq1 img {
    height: 25px;
}
.cabecera-izq2  {
    float: left;
    height: 40px;
    margin-top: 0;
}

.cabecera-dch img {
    float: right;
    height: 30px;
    padding: 3px;
    margin-top: 10px;
}
.imagen img {
    width: 100%;
    height: 100%;
    margin-bottom:1px;
}
.iconos {
    height: 35px;
    margin-top:1px;
}
.iconos-izq img {
    float: left;
    height: 30px;
    margin: 5px 1px;
    padding-top: 0;
    padding-left: 10px;
    
}
.iconos-dch img {
    float: right;
    height: 25px;
    margin: 5px;
    padding-top: 0;
    padding-right: 10px;
}
p {
    text-align: left;
    margin: 5px;
    padding: 10px;
}